Source: https://www.appliedaicourse.com/lecture/11/applied-machine-learning-online-course/2780/operators/0/free-videos
        https://courses.analyticsvidhya.com/courses/take/introduction-to-data-science/texts/5858059-understanding-operators-in-python
        
        
Operators are special symbols that carry out arithmetic or logical computation. The value that the operator operates on is called the "operand"

![Image]()

# Operator Types

1. Arithmetic Operators
2. Assignment Operators
3. Unary Operator
4. Comparison (Relational) Operators
5. Logical (Boolean) Operators
6. Bitwise Operators
7. Special Operators

# Arithmetic Operators

Arithmetic operators are used to perform mathematial operations like addition, subtraction, multiplication.etc. 

+,-,*,/,%,//,** are arithmetic operators

In [1]:
#Addition
3+5

8

In [2]:
#Subtraction
46-54

-8

In [3]:
#Multiplication
2*3

6

In [4]:
# Division
35.5/7

5.071428571428571

In [5]:
#floor division - gives as output the greatest integer less than or equal to the divisor
print(35.5//7)
print(-35.5//7)

5.0
-6.0

In [6]:
#modulo division
35.5%7

0.5

In [7]:
# exponential
x=2
y=5
x**y

32

In [8]:
#what happens if we use arithmetic operators with strings?
"melita"+23

TypeError: must be str, not int

In [9]:
"melita"+"23"

'melita23'

In [10]:
"melita"*3

'melitamelitamelita'

In [11]:
x=5

In [12]:
y=10

# Assignment Operator

Assignment operators are used in python to assign values to variables

**a=10** is a simple assignment operator that assigns the value *10* on the right to variable *a* on the left.

=,+=,-=,*=,/=,%=,//=,**=,&=,|=,^=,>>=,<<= are assignment operators

In [13]:
x=2

In [14]:
x+=2

In [15]:
print(x)

4

In [16]:
a,b=5,6

In [17]:
a-b

-1

# Unary Operator
source: https://www.youtube.com/watch?v=v5MR5JnKcZI

The unary operator "**-**" multiplies a number by *-1*

In [18]:
n=7

In [19]:
n=-n

In [20]:
n

-7

In [21]:
print(-n)

7

# Comparison Operator / Relational Operator

Comparison operators are used to compare values. It returns *True* or *False* according to the condition

<,>,==,!=,>=,<= are comparison operators

In [22]:
# greater than
45>44

True

In [23]:
# less than
56<23

False

In [24]:
34*34<45*23

False

In [25]:
# equal to
45==45

True

In [26]:
# not equal to
45!=45

False

# Logical Operators

Logical operators are **and**, **or** and **not**

**and** : Check weather the first operand is false, if it is false it returns the first operand otherwise it returns the second operand.

**or** : Check weather the first operand is true, if it is true it returns the first operand otherwise it returns the second operand.

We can also remember this using truth table:
![Image](https://upload.wikimedia.org/wikipedia/commons/4/4a/Truth_table_for_AND%2C_OR%2C_and_NOT.png)

Note: **0** always holds the boolean value **True** and any other integer is **False**

In [27]:
# and operator
0 and 3

0

In [28]:
3 and 0

0

In [29]:
3 and 5

5

In [30]:
# or operator
0 or 3

3

In [31]:
-3 or 0

-3

In [32]:
3 or 5

3

In [33]:
# not operator
not 3

False

In [34]:
not 0

True

In [35]:
a,b= True,False

In [36]:
a and b

False

# Bitwise Operators

Bitwise operators act on operands as if they were strings of binary digits. It operates bit by bit.

&,|,~,^,>>,<< are bitwise operators

In [37]:
a,b= 18,17

In [38]:
# AND
print (a & b)

16

![Image]() ![Image](https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSybGls2M3xOsKPr2TA1E5M-_65vkOy25QGoO1s-tk_dIsNF8Jq)

18 = 1 0 0 1 0

17 = 1 0 0 0 1

_____________________
     1 0 0 0 0  = (1 * 2^4) + (0 * 2^3) + (0 * 2^2) + (0 * 2^1) + (0 * 2^0)  =  16

In [39]:
# OR
print(a|b)

19

In [40]:
# NOT
print(~a)

-19

In [41]:
# XOR
print(a^b)

3

In [42]:
# rightshift : shifts right by pushing zeroes in from left and right most bit falls off
a>>b

0

In [43]:
# leftshift : shifts left by pushing zeroes in from the right and left most bit falls off
a<<b

2359296

to understand how "-" sign is is handled by binary and how left shift and right shift works watch https://www.youtube.com/watch?v=PyfKCvHALj8

# Special Operator

## Identity Operator

**is** and **is not** are the identity operators

They are used to check if two values ( or variables) are located on the same part of the memory.

In [44]:
a=5

In [45]:
b=5

In [46]:
print(a is b)

True

To save memory, python is designed to save variables value in the same memory location if both the variables point to the same object. This is done only in case of simple variables like int, str .etc. and not for complex numbers or for data stuctures like lists.etc. Let us verify

In [47]:
print(id(a))
print(id(b))

1450536128
1450536128

In [48]:
l1=[1,2,3]
l2=[1,2,3]
print(l1 is l2)
print("location of l1 is ",id(l1)," and location of l2 is ",id(l2) )

False
location of l1 is  2292429325960  and location of l2 is  2292429271496

In [49]:
s1="AAIC"
s2="AAIC"
print(s1 is not s2)

False

## Membership Operator

**in** and **not in** are membership operators.

They are used to test whether a value or variable is found in a sequence(string,list,tuple,set and dictionary)

In [50]:
list=[1,2,3,4]
print(1 in list)

True

In [51]:
d={1:"a",2:"b"}
print(1 in d)

True

In [52]:
#membership operators only check on keys in dictionary
print("a" in d)
print(a in d)

False
False

In [53]:
set=(1,2,3,4)
print(1 in set)

True